 <div class="fondecran">
<div class="form">
<form class="form" method="post" action="/auth/signup" class="form">
                <h1 class="text">Signup</h1>
                <label class="labelText" for="id">Id</label>
                <input class="input" name="id" type="id" required placeholder="ex: admin">
                <label class="labelText" for="password">password</label>
                <input class="input" name="password" type="password" required placeholder="admin">
                <button class="btn-light" id="send">Go !</button>
                <hr>
            </form>
        
        <div class="form">
        <p class="text">
            Already have an account ? <a class="link" href="/auth/signin">please Log in !</a>
        </p>
        </div>
        </div>
        </div>
        </div>