 <div class="fondecran">
 <form class="form" method="post" action="/auth/signin" class="form">
                <h1 class="title">Log in</h1>
                <label class="labelText" for="id">Id</label>
                <input class="input" name="id" required type="id" placeholder="admin">
                <label class="labelText" for="password">Password</label>
                <input class="input" name="password" required type="password" placeholder="admin">
                <button class="btn-light" id="send">Go !</button>
            </form>
            <div class="form">
            <p class="text">
                No account yet ? <a class="link" href="/auth/signup">please signup !</a>
            </p>
            </div>
            </div>