/* index */
.fondecran {
    background-image: url(./../assets/img/fond4.jpg);
    max-width:100%;
    height:auto;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
    }
    
    nav {
        margin-bottom: 0 !important;
    }
    
    .text {
        color: beige;
    }
    
    .center {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
    #sign {
        display: flex;
        justify-items: flex-end !important;
    }
    
    /* contact */
    .form {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        color: beige;
    }
    
    #space {
        margin-top: 20px;
    }
    
    .input {
      width: 300px;
      color: black !important;
      margin-bottom: 20px;
    }
    
    #send {
      width: 300px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: black !important;
    }
    
    #content {
        margin-bottom: 20px;
    }
    
    #meditext {
        margin-top: 30px;
    }
    
    #description {
        background-color: rgba(0, 0, 255, 0.5);
        padding-bottom: 20px;
    }
    
    .prettySlide {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #form-title {
        margin-bottom: 30px;
    }
    
    /* listeMessage */
    #listeMessage {
        margin-top: 0 !important;
        padding-top: 20px;
    }
    
    #button-delete {
        margin-bottom: 20px;
    }
    
    .message-case {
        border: solid 1px black;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 255, 0.5);
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .messages {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .my-footer {
        background-color: #ACE;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .text-footer {
        display: flex;
        align-items: center;
        justify-items: center;
    }
    
    .labelText {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    #form-bottom {
        margin-bottom: 200px;
    }
    
    
    
    
    
      
    
    